.ProductList {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 24px;
    max-width: 1170px;
}

.EmptyList {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: #1B1B1B;
    width: 100%;
}


@media (max-width: 1170px) {
    .ProductList {
        grid-template-columns: repeat(3, minmax(0px, 1fr));
    }

}

@media (max-width: 992px) {
    .ProductList {
        grid-template-columns: repeat(2, minmax(0px, 1fr));
    }

}

@media (max-width: 768px) {
    .ProductList {
        grid-template-columns: repeat(1, minmax(0px, 1fr));
        width: 100%;
        gap: 20px;
    }

}
